@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@{
    <div>
        <table id="PolicyData">
            <thead>
                <tr>
                    <td>Policy Number</td>
                    <td>Policy Holder</td>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: Policies -->
                <tr>
                    <td><span data-bind="text: PolicyNumber" /></td>
                    <td><span data-bind="text: Policyholder" /></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
}
@Scripts.Render()
@section scripts
{
    <script src="~/Scripts/Lib/knockout-2.3.0.debug.js"></script>
    <script type="text/javascript" src="~/Scripts/app/DataService.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Policy.js"></script>
    <script type="text/javascript">
        $(function() {
            var vm = new MotorDB.PolicyViewModel();
            $.when(vm.Load())
                .then(function () {
                    ko.applyBindings(vm, document.getElementById("PolicyData"));
                });
        })
    </script>
}